# backend/public/.htaccess
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Si le fichier ou le dossier n'existe pas, on envoie tout à index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>